:host {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem;
    padding: 3rem 15rem;
    background-color: rgb(239, 232, 220);
}