@use "@angular/material" as mat;

:host {
  display: flex;
  justify-content: flex-end;
  background-color: rgb(239, 200, 133);

  @include mat.paginator-overrides(
    (
      container-background-color: rgb(239, 200, 133)
    )
  );
}
