@if (isTextFilter()) {
<ng-container [ngTemplateOutlet]="textFilter"></ng-container>
} @if (isToggleFilter()) {
<ng-container [ngTemplateOutlet]="toggleFilter"></ng-container>
}

<ng-template #textFilter>
  <div class="filter-input-container">
    <div class="filter-label" for="filter-input">Filter</div>
    <input
      #textFilterInput
      (input)="onTextFilter($event)"
      class="filter-input"
      name="filter-input"
      type="text"
    />
    <button
      mat-mini-fab
      class="filter-reset"
      (click)="textFilterInput.value = ''; onTextFilter($event)"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>
</ng-template>

<ng-template #toggleFilter>
  <mat-button-toggle-group (change)="onToggleFilter($event)" name="stateFilter" aria-label="Font Style">
    <mat-button-toggle checked value="all">All</mat-button-toggle>
    <mat-button-toggle value="open">Open</mat-button-toggle>
    <mat-button-toggle value="done">Done</mat-button-toggle>
  </mat-button-toggle-group>
</ng-template>
