@use "@angular/material" as mat;

@mixin withPointer {
  cursor: pointer;
}

:host {
  --nav-background-color: rgb(181, 138, 59);
  --nav-item-color: rgb(231, 84, 84);

  @include mat.toolbar-overrides(
    (
      container-background-color: var(--nav-background-color),
      container-text-color: var(--nav-item-color),
      title-text-weight: bold,
      title-text-size: 32px,
    )
  );

  @include mat.button-overrides(
    (
      filled-container-color: var(--nav-item-color),
    )
  );

  .title-link {
    text-decoration: none;
    background-color: rgb(223, 192, 134);
    color: var(--nav-item-color);
    border: 3px solid rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
    padding: 0.75rem;
    @include withPointer();
  }

  .spacer {
    flex: 1 1 auto;
  }

  .button-row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .header-link {
    @include withPointer();
  }
}
