@use "@angular/material" as mat;

:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;

  @include mat.dialog-overrides(
    (
      subhead-color: green,
      subhead-size: 24px,
      subhead-weight: 600,
    )
  );

  #todoForm {
    width: 100%;
    margin: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .text-form-field {
    width: 70%;
  }

  .select-form-field {
    margin-top: 2rem;
  }

  .dialog-background {
    background-color: rgb(227, 182, 98);
  }

  .dialog-content {
    border-bottom: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    gap: 16px;
    padding: 16px 0;
    height: 70%;
  }
}
