@use "@angular/material" as mat;

:host {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;

  .warn {
    @include mat.theme(
      (
        color: mat.$red-palette,
      )
    );
  }
}
