@use "@angular/material" as mat;

:host {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;

  .warn {
    @include mat.button-overrides((
      text-label-text-color: red,
      text-state-layer-color: red,
    ))
  }

  .normal {
    @include mat.button-overrides((
      text-label-text-color: black,
      text-state-layer-color: black,
    ))
  }
}
