:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
  width: 100%;
  background-color: rgb(226, 180, 93);
  padding-bottom: 1rem;

  // .filter-input-container {
  //   background-color: rgb(222, 153, 153);
  //   display: flex;
  //   flex-direction: row;
  //   align-items: center;
  //   margin: 1rem 1rem 1rem 17rem;
  //   border: 2px solid rgba(0, 0, 0, 0.7);
  //   border-radius: 0.5rem;
  //   padding: 0.25rem;
  // }

  // .filter-label {
  //   display: flex;
  //   padding: 0.5rem;
  //   font-size: 1rem;
  //   border-radius: 0.5rem;
  //   box-sizing: border-box;
  // }

  // .filter-input {
  //   padding: 0.5rem;
  //   font-size: 1rem;
  //   border: 2px solid rgba(0, 0, 0, 0.5);
  //   border-radius: 0.5rem;
  //   background-color: wheat;
  // }

  // .filter-reset {
  //   cursor: pointer;
  //   margin-left: 0.25rem;
  // }
}
